@{
	ViewBag.Title = "Save";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personal Information</h2>
Student Name: @ViewBag.FirstName, @ViewBag.LastName @ViewBag.MiddleName <br>
Course: @ViewBag.Course <br>
Birthday: @ViewBag.Birthday <br>
Gender: @ViewBag.Gender <br>
